export(fragmentListRead)
export(fragmentListAnalyse)
export(fragmentListFitGaussian)
export(regionBiasCounts)
export(writeFragmentListResults)
export(referenceSimulation)
export(biasAnalysis)
export(writeBiasResults)
export(gcCorrection)
export(normPlot)
export(ggReadsGCDensityPlot)
export(ggReadsGCDensityRatioPlot)
export(ggReadsGCFrequencyPartitionPlot)

